@font-face {
    font-family: 'Academy Engraved LET';
    src: url('AcademyEngravedLetPlain.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Apple Chancery';
    src: url('Apple-Chancery.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

