@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,800&display=swap");

@import url("reset.css");

body {
    font-family: "Epilogue", sans-serif;
    font-size: 18px;
    background-color: rgba(27, 27, 26, 0.81);
}

.wrapper {
    min-height: 100%;
    overflow: clip;
}

.header__container {
    padding: 15px;
    max-width: 800px;
    margin: 0 auto;
    border: 2px solid rgb(14, 14, 14);
    margin-bottom: 15px;
}

.header__content {
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 5px;
    line-height: 2;
    text-align: center;
}

.practice {
    background-color: #090b0b;
    padding-block: 40px;
}

.practice__container {
    max-width: 1300px;
    padding-inline: 15px;
    margin: 0 auto;
}

.practice__block {
    max-width: 1270px;
    width: 100%;
    display: inline-block;
    font-size: 0;
}

.practice__item {
    display: inline-block;
    width: 20%;
    min-height: 250px;
    background-color: rgba(249, 242, 242, 0.663);
    margin: 0 auto 60px;
    margin-right: 40px;
}

.practice__inner {
    display: inline-block;
    width: 100%;
    min-height: 250px;
    background-color: rgba(221, 238, 108, 0.712);
    border: 2px solid rgb(88, 79, 79);
    position: relative;
}

.practice__item:hover .practice__inner {
    box-shadow: 0px 0px 10px 15px #8ff049;
    transition: all 0.3s;
}

span {
    position: absolute;
    bottom: 10%;
    inset-inline: 10%;
    font-size: 18px;
    color: rgb(14, 94, 34);
}

.practice__item:hover .practice__inner--translate {
    transform: translate(30px, 50px);
}

.practice__item:hover .practice__inner--scale {
    transform: scale(1.2);
}

.practice__item:hover .practice__inner--scale-negative {
    transform: scale(-0.7);
}

.practice__item:hover .practice__inner--rotate {
    transform: rotate(45deg);
}

.practice__item:hover .practice__inner--rotate-negative {
    transform: rotate(-40deg);
}

.practice__item:hover .practice__inner--skew {
    transform: skew(10deg, 20deg);
}

.practice__item:hover .practice__inner--skew-y {
    transform: skewY(-30deg);
}

.practice__item:hover .practice__inner--multi {
    transform: translate(80px, 10px) scale(1.3) rotate(90deg);
}

.practice__item:hover .practice__inner--orign-bottom {
    transform-origin: bottom;
    transform: rotate(30deg);
}

.practice__item:hover .practice__inner--orign-left {
    transform-origin: 0 0;
    transform: rotate(40deg);
}

.practice__item:hover .practice__inner--scale-mirror {
    transform: scale(-1, 1);
}

.practice__item:hover .practice__inner--translate-x {
    transform: translateX(-80px);
}

.practice__3d-block {
    max-width: 1270px;
    width: 100%;
    display: inline-block;
    font-size: 0;
}

.practice__item-3d {
    display: inline-block;
    width: 20%;
    min-height: 250px;
    background-color: rgba(228, 220, 220, 0.518);
    margin: 0 auto 60px;
    margin-right: 40px;
}

.item-3d__inner {
    display: inline-block;
    width: 100%;
    min-height: 250px;
    background-color: rgba(221, 238, 108, 0.712);
    border: 2px solid rgb(88, 79, 79);
    position: relative;
}

.practice__item-3d:hover .item-3d__inner {
    box-shadow: 0px 0px 10px 15px #f5e90dd6;
    transition: all 0.3s;
}

.item-3d {
    perspective: 400px;
    perspective-origin: center;
}

.item-3d:hover .item-3d__inner--transform {
    transform: translate3d(20px, 20px, 30px);
}


.item-3d:hover .item-3d__inner--rotate {
    transform: rotate3d(10, 10, 20, 20deg);
}

.item-3d:hover .item-3d__inner--multi {
    transform: translate3d(10px, 20px, 20px) rotate3d(11, 14, 25, 110deg);
}

.item-3d:hover .item-3d__inner--rotate-negative {
    transform: rotate3d(6, 6, 6, -180deg);
}

.memory__container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.memory__inner {
    display: inline-block;
    max-width: 970px;
    width: 100%;
}

.memory__card {
    display: inline-block;
}

.card__body img {
    width: 300px;
    height: 300px;
}

.card__body {
    display: inline-block;
    position: relative;
    perspective: 300px;
    margin: 5px 5px;
}

.card__back,
.card__front {
    transition: all 0.6s;
    border-radius: 10px;
    overflow: hidden;
}

.card__back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
}

.card__front {
    backface-visibility: hidden;
    transform: rotateY(0deg);
    border: 3px solid white;
    border-radius: 20px;
}

.card__body:hover .card__back {
    transform: rotateY(0deg);
}

.card__body:hover .card__front {
    transform: rotateY(-180deg);
}


.car {
    min-height: 800px;
    min-width: 1400px;
    background: url(../img/bg.webp) center / cover no-repeat;
}

.car__container {
    position: relative;
    padding: 20px;
}


.car__body--bottom {
    width: 600px;
    height: 180px;
    background-color: #1c1b1b;
    position: absolute;
    top: 480px;
    left: 706px;
    border-radius: 0% 100% 7% 93% / 100% 44% 56% 0%;
    border: 10px solid rgba(99, 94, 94, 0.78);
}

.car__body--middle {
    width: 600px;
    height: 170px;
    background-color: #1c1b1b;
    position: absolute;
    top: 390px;
    left: 681px;
    transform: skew(12deg);
    border-radius: 0% 100% 0% 100% / 100% 33% 67% 0%;
    border: 10px solid rgba(99, 94, 94, 0.78);
}

.car__body--top {
    width: 600px;
    height: 200px;
    background-color: #1c1b1b;
    position: absolute;
    top: 200px;
    left: 300px;
    transform: skew(40deg);
    border: 10px solid rgba(99, 94, 94, 0.78);
}

.car__body--back {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 200px;
    left: 200px;
    background-color: #1c1b1b;
    transform: skew(-20deg);
    border-top: 10px solid rgba(99, 94, 94, 0.78);
}

.car__body--back-middle {
    width: 580px;
    height: 135px;
    position: absolute;
    top: 398px;
    left: 160px;
    background-color: #1c1b1b;
    border-radius: 11px;
}

.car__body--back-bottom {
    width: 580px;
    height: 140px;
    position: absolute;
    top: 520px;
    left: 160px;
    background-color: #1c1b1b;
    border-radius: 100% 0% 88% 12% / 0% 100% 0% 100%;
    border-bottom: 10px solid rgba(99, 94, 94, 0.78);
}

.wheels__main {
    width: 240px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #110f0f;
    border: 7px dashed rgba(53, 49, 49, 0.79);
    z-index: 2;
}

.wheels__bg {
    width: 280px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #3f3636bc;
    border: 3px solid rgb(28, 26, 26);
    box-shadow: 0px 0px 2px 15px rgba(216, 18, 18, 0.382);
}

.wheels__inner {
    width: 90px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #3f3636bc;
    border: 3px solid rgb(28, 26, 26);
    z-index: 5;
    box-shadow: 0px 0px 10px 10px gray;
}

.wheels__inner::after {
    content: "";
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: url(../img/label.png) center / cover no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
}

.wheels__main-right {
    position: absolute;
    top: 520px;
    left: 939px;
}

.wheels__bg--right {
    position: absolute;
    top: 500px;
    left: 920px;
}

.wheels__inner--right-gray {
    position: absolute;
    top: 600px;
    left: 1014px;
}

.wheels__inner--right-gray::after {
    position: absolute;
    top: 50%;
    left: 50%;
}

.wheels__main-left {
    position: absolute;
    top: 520px;
    left: 300px;
}

.wheels__bg--left {
    position: absolute;
    top: 500px;
    left: 280px;
}

.wheels__inner--left-gray {
    position: absolute;
    top: 600px;
    left: 374px;
}

.headlight__body--front {
    width: 60px;
    height: 85px;
    background-color: rgb(218, 242, 79);
    border: 5px solid rgba(85, 76, 76, 0.766);
    position: absolute;
    top: 450px;
    left: 1190px;
    border-radius: 50%;
    box-shadow: 3px 0px 5px 10px rgba(233, 233, 138, 0.897);
}

.headlight__body--back {
    width: 60px;
    height: 70px;
    background-color: rgba(151, 35, 35, 0.817);
    position: absolute;
    top: 409px;
    left: 165px;
    z-index: 3;
    border-radius: 8px;
    box-shadow: 5px 5px 8px 10px rgba(236, 20, 20, 0.578);
}

.window__main {
    width: 170px;
    height: 140px;
    background: linear-gradient(243deg, rgba(189, 184, 193, 1) 0%, rgba(89, 69, 69, 1) 50%, rgba(14, 14, 13, 1) 100%);
    position: absolute;
    z-index: 10;
    border: 3px solid rgb(56, 48, 48);
    border-radius: 9px;
    top: 230px;
}

.window__main--last {
    left: 260px;
    transform: skew(-20deg);
}

.window__main--middle {
    left: 460px;
}

.window__main--head {
    width: 230px;
    left: 665px;
    border-radius: 0% 100% 92% 8% / 91% 100% 0% 9%;
}

.handle__base {
    width: 80px;
    height: 20px;
    background-color: rgba(51, 57, 55, 0.852);
    border-radius: 5px;
    position: absolute;
    top: 430px;
    box-shadow: 8px 0px 4px 5px rgba(82, 83, 81, 0.76);
}

.handle__base--right {
    left: 670px;
    z-index: 55;
}

.handle__base--left {
    left: 430px;
    z-index: 55;
}

.footer__inner {
    font-size: 40px;
    letter-spacing: 12px;
    color: rgb(16, 10, 10);
    line-height: 2;
    text-align: center;

}